src/config/WSReferences/WSZemVorobReports/Ext/WSDefinition.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="http://37.1.84.50:8083/TransportReports"
		xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsd1="http://37.1.84.50:8083/TransportReports"
		xmlns:xsd2="http://37.1.84.50:8083/TransportReportsXDTO"
		name="TransportReports"
		targetNamespace="http://37.1.84.50:8083/TransportReports">
	<types>
		<xs:schema xmlns:tns="http://37.1.84.50:8083/TransportReportsXDTO"
				xmlns:xs="http://www.w3.org/2001/XMLSchema"
				xmlns:xsd1="http://37.1.84.50:8083/TransportReportsXDTO"
				xmlns:xsd2="http://37.1.84.50:8083/TransportReports"
				targetNamespace="http://37.1.84.50:8083/TransportReportsXDTO"
				attributeFormDefault="unqualified"
				elementFormDefault="qualified"/>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
				xmlns:xs1="http://37.1.84.50:8083/TransportReportsXDTO"
				xmlns:xs2="http://37.1.84.50:8083/TransportReports"
				xmlns:xsd1="http://37.1.84.50:8083/TransportReportsXDTO"
				xmlns:xsd2="http://37.1.84.50:8083/TransportReports"
				targetNamespace="http://37.1.84.50:8083/TransportReports"
				elementFormDefault="qualified">
			<xs:import namespace="http://37.1.84.50:8083/TransportReportsXDTO"/>
			<xs:element name="GetResult">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ReportID"
								type="xs:string"/>
						<xs:element name="DateStart"
								type="xs:date"/>
						<xs:element name="DateStop"
								type="xs:date"/>
						<xs:element name="Variant"
								type="xs:int"/>
						<xs:element name="Company"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetResultResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs:float"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="GetResultRequestMessage">
		<part name="parameters"
				element="tns:GetResult"/>
	</message>
	<message name="GetResultResponseMessage">
		<part name="parameters"
				element="tns:GetResultResponse"/>
	</message>
	<portType name="TransportReportsPortType">
		<operation name="GetResult">
			<input name="GetResultRequest"
					message="tns:GetResultRequestMessage"/>
			<output name="GetResultResponse"
					message="tns:GetResultResponseMessage"/>
		</operation>
	</portType>
	<binding name="TransportReportsSoapBinding"
			type="tns:TransportReportsPortType">
		<soapbind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="GetResult">
			<soapbind:operation style="document"
					soapAction="http://37.1.84.50:8083/TransportReports#TransportReports:GetResult"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="TransportReportsSoap12Binding"
			type="tns:TransportReportsPortType">
		<soap12bind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="GetResult">
			<soap12bind:operation style="document"
					soapAction="http://37.1.84.50:8083/TransportReports#TransportReports:GetResult"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="TransportReports">
		<port name="TransportReportsSoap"
				binding="tns:TransportReportsSoapBinding">
			<documentation> 
				<wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/"
						conformsTo="http://ws-i.org/profiles/basic/1.1"/>
			</documentation>
			<soapbind:address location="http://37.1.84.50:8083/zemvorob/ws/TransportReports"/>
		</port>
		<port name="TransportReportsSoap12"
				binding="tns:TransportReportsSoap12Binding">
			<soap12bind:address location="http://37.1.84.50:8083/zemvorob/ws/TransportReports"/>
		</port>
	</service>
</definitions>