src/config/WSReferences/WSFranch18/Ext/WSDefinition.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="www.franch18.yst"
		xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsd1="www.franch18.yst"
		name="WSFranch18"
		targetNamespace="www.franch18.yst">
	<types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
				xmlns:xs1="www.franch18.yst"
				targetNamespace="www.franch18.yst"
				attributeFormDefault="unqualified"
				elementFormDefault="qualified">
			<xs:complexType name="Goods">
				<xs:sequence>
					<xs:element name="Products"
							type="xsd1:Product"
							minOccurs="0"
							maxOccurs="500"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Order">
				<xs:sequence>
					<xs:element name="GUID"
							type="xs:string"/>
					<xs:element name="Number"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Orders">
				<xs:sequence>
					<xs:element name="Order"
							type="xsd1:Order"
							minOccurs="0"
							maxOccurs="100"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Product">
				<xs:sequence>
					<xs:element name="Code"
							type="xs:string"/>
					<xs:element name="Quantity"
							type="xs:integer"/>
					<xs:element name="Price"
							type="xs:float"
							nillable="true"
							minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Result">
				<xs:sequence>
					<xs:element name="Success"
							type="xs:boolean"/>
					<xs:element name="Error"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="CreateReceipts">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Orders"
								type="xsd1:Orders"/>
						<xs:element name="Goods"
								type="xsd1:Goods"/>
						<xs:element name="Point"
								type="xs:string"/>
						<xs:element name="GUID"
								type="xs:string"/>
						<xs:element name="Number"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateReceiptsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xsd1:Result"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="CreateReceiptsRequestMessage">
		<part name="parameters"
				element="tns:CreateReceipts"/>
	</message>
	<message name="CreateReceiptsResponseMessage">
		<part name="parameters"
				element="tns:CreateReceiptsResponse"/>
	</message>
	<portType name="WSFranch18PortType">
		<operation name="CreateReceipts">
			<input name="CreateReceiptsRequest"
					message="tns:CreateReceiptsRequestMessage"/>
			<output name="CreateReceiptsResponse"
					message="tns:CreateReceiptsResponseMessage"/>
		</operation>
	</portType>
	<binding name="WSFranch18SoapBinding"
			type="tns:WSFranch18PortType">
		<soapbind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="CreateReceipts">
			<soapbind:operation style="document"
					soapAction="www.franch18.yst#WSFranch18:CreateReceipts"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="WSFranch18Soap12Binding"
			type="tns:WSFranch18PortType">
		<soap12bind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="CreateReceipts">
			<soap12bind:operation style="document"
					soapAction="www.franch18.yst#WSFranch18:CreateReceipts"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="WSFranch18">
		<port name="WSFranch18Soap"
				binding="tns:WSFranch18SoapBinding">
			<documentation> 
				<wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/"
						conformsTo="http://ws-i.org/profiles/basic/1.1"/>
			</documentation>
			<soapbind:address location="http://37.1.84.50:8083/v83ib_franch_ut_copy/ws/WSFranch18"/>
		</port>
		<port name="WSFranch18Soap12"
				binding="tns:WSFranch18Soap12Binding">
			<soap12bind:address location="http://37.1.84.50:8083/v83ib_franch_ut_copy/ws/WSFranch18"/>
		</port>
	</service>
</definitions>